/* 版心 */
.inner_c{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}





/* header */
.header{
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    position: fixed;
    background-color: rgba(5,5,5,0.5);
    box-shadow: 2px 0px 2px 2px rgba(3,3,3,0.3);
    z-index: 2;
}
.header .header_c h1{
    height: 30px;
    width: 40px;
    padding-left: 4px;
    float: left;
    color: rgba(210,210,210,0.9);
}

.header .header_c .header_nav{
    float: left;
}
.header .header_c .header_nav ul li{
    float: left;
    padding-left: 8px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .header_nav ul li a:hover{
    color: white;
    display:block;
}
.header .header_c .all_pro{
    width: 100px;
    float: right;
    margin: 0 50px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .all_pro .app{
    width: 0%;
    position: absolute;
    left: 0;
    top: 68px;
    background: #fff;
    display: none;
}
.header .header_c .all_pro:hover .app{
    display: inline;
}
.header .header_c .all_pro .app .pro_inner{
    margin-top: -37px;
    margin-left: 1024px; 
}
.header .header_c .login{
    float: right;
    margin-right: 15px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .login a:hover{
    color: white;
    display:block;
}





/* banner开始 */
.banner{
    padding-top: 30px;
    height: 80px;
    position: relative;
    top: 30px;
    background-color: blanchedalmond;
    border-bottom: 1px solid rgba(210,210,210,0.9);
    z-index: 1;
}
.banner .banner_c{
    width: 1140px;
    margin: 0 auto;
}
.banner .banner_c a{
    position: relative;
    top: -15px;
    left: 30px;
}
.banner .banner_c p input{
    position: relative;
    top: -85px;
    left: 200px;
    width: 450px;
    height: 40px;
}
.banner .banner_c p a{
    position: relative;
    left: 200px;
    top: -70px;
}
.banner2{
    margin-top: 30px;
    height: 40px;
    background-color: bisque;
}
.banner2_c{
    margin-left: 100px;
    float: left;
    padding-left: 8px;
    color: rgba(0,0,0,0.9);
    line-height: 40px;
}
.banner2_c ul li{
    float: left;
}
.banner2_cc{
    float: left;
    margin-left: 8px;
}
.banner2_cc a:hover{
    color: wheat;
    display: block;
}